In [29]:
import pandas as pd
import math

In [30]:
data = pd.read_csv('UBSdata - 2016.csv')

In [31]:
for index, row in data.iterrows():
    if math.isnan(row["poverty"]):
        data.at[index, "poverty"] = 0
    if math.isnan(row["bachelors"]):
        data.at[index, "bachelors"] = 0
    if math.isnan(row["associates"]):
        data.at[index, "associates"] = 0
    if math.isnan(row["car"]):
        data.at[index, "car"] = 0
    if math.isnan(row["diff_countyHouse"]):
        data.at[index, "diff_countyHouse"] = 0
    if math.isnan(row["diff_countyRent"]):
        data.at[index, "diff_countyRent"] = 0
    if math.isnan(row["diff_stateHouse"]):
        data.at[index, "diff_stateHouse"] = 0
    if math.isnan(row["diff_stateRent"]):
        data.at[index, "diff_stateRent"] = 0
    if math.isnan(row["health_ins"]):
        data.at[index, "health_ins"] = 0
    if math.isnan(row["population"]):
        data.at[index, "population"] = 0
    if math.isnan(row["self_income"]):
        data.at[index, "self_income"] = 0
    if math.isnan(row["house_val"]):
        data.at[index, "house_val"] = 0

In [34]:
for index, row in data.iterrows():
    val = (row["poverty"]*0.07)+(row["bachelors"]*0.10)+(row["associates"]*0.10)+(row["car"]*0.07)+(row["diff_countyHouse"]*0.04)+(row["diff_countyRent"]*0.04)+(row["diff_stateRent"]*0.04)+(row["diff_stateHouse"]*0.04)+(row["health_ins"]*0.1)+(row["house_val"]*0.07)+(row["population"]*0.06)+(row["self_income"]*0.17)+(row["museums"]*0.07)
    val = val/650
    data.at[index, "score"] = val

In [36]:
data.head(10)

,full_name,census_tract,poverty,bachelors,associates,car,diff_countyHouse,diff_countyRent,diff_stateHouse,diff_stateRent,health_ins,house_val,population,self_income,museums,pharmacies,score
0,"Census Tract 1, Atlantic County, New Jersey",1.00,858,118,53,2142,5,15,4,47,2142,153000.0,2142,46,21,4,17.372231
1,"Census Tract 1, Essex County, New Jersey",1.00,1143,474,286,6872,102,82,0,0,6872,232700.0,6872,113,18,11,27.774462
2,"Census Tract 1, Hudson County, New Jersey",1.00,521,1152,202,6278,42,51,0,0,6278,344900.0,6278,108,14,7,39.664415
3,"Census Tract 1, Mercer County, New Jersey",1.00,940,185,111,3281,0,15,0,32,3281,94600.0,3281,13,28,4,11.504738
4,"Census Tract 1, Middlesex County, New Jersey",1.00,485,1106,499,7633,20,297,11,36,7633,325000.0,7633,264,16,6,38.093231
5,"Census Tract 10, Bergen County, New Jersey",10.00,109,1892,235,6762,28,184,10,67,6664,710600.0,6762,204,20,4,79.316046
6,"Census Tract 10, Essex County, New Jersey",10.00,1004,267,125,3647,0,0,0,29,3139,169900.0,3647,23,18,11,19.687415
7,"Census Tract 10, Hudson County, New Jersey",10.00,248,503,74,1964,10,7,3,46,1964,362500.0,1964,35,14,4,39.863615
8,"Census Tract 10, Mercer County, New Jersey",10.00,957,120,96,2722,0,102,0,90,2534,91300.0,2722,10,28,1,10.920292
9,"Census Tract 10.01, Middlesex County, New Jersey",10.01,50,546,89,2544,4,0,102,0,2544,352700.0,2544,89,16,14,39.017862

In [37]:
data.to_csv(r'/Users/rachellecha/Desktop/UBS/2016-scores.csv', index = False)