In [123]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
import math

In [124]:
data = pd.read_csv('UBSdata - 2014.csv')

In [125]:
for index, row in data.iterrows():
    if math.isnan(row["poverty"]):
        data.at[index, "poverty"] = 0
    if math.isnan(row["bachelors"]):
        data.at[index, "bachelors"] = 0
    if math.isnan(row["associates"]):
        data.at[index, "associates"] = 0
    if math.isnan(row["car"]):
        data.at[index, "car"] = 0
    if math.isnan(row["diff_countyHouse"]):
        data.at[index, "diff_countyHouse"] = 0
    if math.isnan(row["diff_countyRent"]):
        data.at[index, "diff_countyRent"] = 0
    if math.isnan(row["diff_stateHouse"]):
        data.at[index, "diff_stateHouse"] = 0
    if math.isnan(row["diff_stateRent"]):
        data.at[index, "diff_stateRent"] = 0
    if math.isnan(row["health_ins"]):
        data.at[index, "health_ins"] = 0
    if math.isnan(row["population"]):
        data.at[index, "population"] = 0
    if math.isnan(row["self_income"]):
        data.at[index, "self_income"] = 0
    if math.isnan(row["house_val"]):
        data.at[index, "house_val"] = 0

In [126]:
df2 = data[data.columns.difference(['full_name', 'census_tract'])]
normalized_df=(df2-df2.mean())/df2.std()

In [127]:
for index, row in normalized_df.iterrows():
    val = (row["poverty"]*0.07)+(row["bachelors"]*0.09)+(row["associates"]*0.09)+(row["car"]*0.04)+(row["diff_countyHouse"]*0.03)+(row["diff_countyRent"]*0.03)+(row["diff_stateRent"]*0.03)+(row["diff_stateHouse"]*0.03)+(row["health_ins"]*0.8)+(row["house_val"]*0.07)+(row["population"]*0.03)+(row["self_income"]*0.13)+(row["museums"]*0.05)+(row["pharmacies"]*0.08)
    normalized_df.at[index, "score"] = val

In [128]:
normalized_df["score"]=(normalized_df["score"]-normalized_df["score"].min())/(normalized_df["score"].max()-normalized_df["score"].min())*100

In [129]:
normalized_df.head(10)

,associates,bachelors,car,diff_countyHouse,diff_countyRent,diff_stateHouse,diff_stateRent,health_ins,house_val,museums,pharmacies,population,poverty,score,self_income
0,-0.769380,-1.262647,-1.158511,-0.730563,-0.703590,-0.440417,0.089895,-1.131070,-0.616493,0.312683,-0.308789,-1.158511,0.704919,15.721524,-0.993649
1,-0.226131,-0.193795,1.012702,0.950626,-0.703590,-0.662095,-0.432209,1.041481,-0.487009,-0.125641,1.764868,1.012702,1.641978,39.846091,-0.338908
2,0.463710,0.280534,1.458261,1.570012,0.579740,-0.357288,1.579429,1.486867,-0.370536,-0.710074,0.579921,1.458261,0.347846,45.837674,1.010865
3,-1.174661,-0.897778,-0.648214,-0.465112,-0.291091,-0.662095,-0.601125,-0.618794,-1.500578,1.335440,-0.308789,-0.648214,0.888616,20.001690,-1.124597
4,1.420863,1.415920,1.616029,-0.730563,0.503351,-0.662095,0.274168,1.644574,0.007384,-0.417858,0.283684,1.616029,-0.766718,47.198201,0.920209
5,1.265649,2.274435,1.222153,-0.354507,-0.703590,0.667974,-0.601125,1.182873,2.043815,0.166575,-0.308789,1.222153,-0.325020,45.705948,1.252616
6,-1.269514,-1.002946,-0.551921,-0.354507,-0.459146,-0.440417,-0.217225,-0.842303,-0.676589,-0.125641,1.764868,-0.551921,1.078504,20.008428,-1.044014
7,-0.967709,-0.571542,-1.305399,-0.199661,-0.703590,-0.662095,0.228100,-1.275726,-0.054570,-0.710074,-0.308789,-1.305399,-0.081468,14.905281,-0.570586
8,-0.493444,-1.114553,-0.821214,-0.730563,-0.703590,-0.107900,0.412372,-0.899404,-1.332063,1.335440,-1.197499,-0.821214,1.080568,18.328050,-0.741826
9,-0.183016,-0.376230,-0.989319,-0.133298,-0.703590,-0.301868,-0.601125,-0.959768,0.097218,-0.417858,2.653578,-0.989319,-0.960735,20.661622,-0.469856

In [130]:
print(normalized_df['score'].min(), normalized_df['score'].max())

0.0 100.0

In [131]:
normalized_df['full_name'] = pd.Series(data['full_name'])
normalized_df['census_tract'] = pd.Series(data['census_tract'])

normalized_df = normalized_df[['full_name', 'census_tract', 'associates', 'bachelors', "car", "diff_countyHouse", "diff_countyRent", "diff_stateHouse", "diff_stateRent", "health_ins", "house_val", "museums", "pharmacies", "population", "poverty", "self_income", "score"]]

In [132]:
normalized_df.head()

,full_name,census_tract,associates,bachelors,car,diff_countyHouse,diff_countyRent,diff_stateHouse,diff_stateRent,health_ins,house_val,museums,pharmacies,population,poverty,self_income,score
0,"Census Tract 1, Atlantic County, New Jersey",1.0,-0.769380,-1.262647,-1.158511,-0.730563,-0.703590,-0.440417,0.089895,-1.131070,-0.616493,0.312683,-0.308789,-1.158511,0.704919,-0.993649,15.721524
1,"Census Tract 1, Essex County, New Jersey",1.0,-0.226131,-0.193795,1.012702,0.950626,-0.703590,-0.662095,-0.432209,1.041481,-0.487009,-0.125641,1.764868,1.012702,1.641978,-0.338908,39.846091
2,"Census Tract 1, Hudson County, New Jersey",1.0,0.463710,0.280534,1.458261,1.570012,0.579740,-0.357288,1.579429,1.486867,-0.370536,-0.710074,0.579921,1.458261,0.347846,1.010865,45.837674
3,"Census Tract 1, Mercer County, New Jersey",1.0,-1.174661,-0.897778,-0.648214,-0.465112,-0.291091,-0.662095,-0.601125,-0.618794,-1.500578,1.335440,-0.308789,-0.648214,0.888616,-1.124597,20.001690
4,"Census Tract 1, Middlesex County, New Jersey",1.0,1.420863,1.415920,1.616029,-0.730563,0.503351,-0.662095,0.274168,1.644574,0.007384,-0.417858,0.283684,1.616029,-0.766718,0.920209,47.198201

In [133]:
normalized_df.to_csv(r'/Users/rachellecha/Desktop/UBS/finalized/2014-scores.csv', index = False)