In [65]:
import pandas as pd
import math
import random

In [66]:
data = pd.read_csv('UBSdata - 2018 pharm.csv')

In [68]:
for index, row in data.iterrows():
    if math.isnan(row["poverty"]):
        data.at[index, "poverty"] = 0
    if math.isnan(row["bachelors"]):
        data.at[index, "bachelors"] = 0
    if math.isnan(row["associates"]):
        data.at[index, "associates"] = 0
    if math.isnan(row["car"]):
        data.at[index, "car"] = 0
    if math.isnan(row["diff_countyHouse"]):
        data.at[index, "diff_countyHouse"] = 0
    if math.isnan(row["diff_countyRent"]):
        data.at[index, "diff_countyRent"] = 0
    if math.isnan(row["diff_stateHouse"]):
        data.at[index, "diff_stateHouse"] = 0
    if math.isnan(row["diff_stateRent"]):
        data.at[index, "diff_stateRent"] = 0
    if math.isnan(row["health_ins"]):
        data.at[index, "health_ins"] = 0
    if math.isnan(row["population"]):
        data.at[index, "population"] = 0
    if math.isnan(row["self_income"]):
        data.at[index, "self_income"] = 0
    if math.isnan(row["museums"]):
        data.at[index, "house_val"] = 0

In [69]:
for index, row in data.iterrows():
    if math.isnan(row['pharmacies']):
        val = random.randint(1,7)
        data.at[index, 'pharmacies'] = val

In [70]:
data

,full_name,census_tract,poverty,bachelors,associates,car,diff_countyHouse,diff_countyRent,diff_stateHouse,diff_stateRent,health_ins,house_val,population,self_income,museums,pharmacies,score
0,"Census Tract 1, Atlantic County, New Jersey",1.00,858,118,53,2142,5,15,4,47,2142,153000.0,2142,46,21,4.0,NaN
1,"Census Tract 1, Essex County, New Jersey",1.00,1143,474,286,6872,102,82,0,0,6872,232700.0,6872,113,18,11.0,NaN
2,"Census Tract 1, Hudson County, New Jersey",1.00,521,1152,202,6278,42,51,0,0,6278,344900.0,6278,108,14,7.0,NaN
3,"Census Tract 1, Mercer County, New Jersey",1.00,940,185,111,3281,0,15,0,32,3281,94600.0,3281,13,28,4.0,NaN
4,"Census Tract 1, Middlesex County, New Jersey",1.00,485,1106,499,7633,20,297,11,36,7633,325000.0,7633,264,16,6.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2001,"Census Tract 9821.11, Burlington County, New J...",9821.11,19,49,62,880,0,0,0,33,329,NaN,880,17,15,3.0,NaN
2002,"Census Tract 9834, Atlantic County, New Jersey",9834.00,0,30,8,2328,0,0,0,0,2328,NaN,2328,0,21,6.0,NaN
2003,"Census Tract 99, Essex County, New Jersey",99.00,459,224,77,2459,0,35,0,87,2459,196900.0,2459,42,18,2.0,NaN
2004,"Census Tract 9900, Monmouth County, New Jersey",9900.00,0,0,0,0,0,0,0,0,0,NaN,0,0,34,3.0,NaN
2005,"Census Tract 9900, Ocean County, New Jersey",9900.00,0,0,0,0,0,0,0,0,0,NaN,0,0,27,2.0,NaN

In [71]:
data.to_csv(r'/Users/rachellecha/Desktop/UBS/2016-scores.csv', index = False)