In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
import math

In [2]:
data = pd.read_csv('/Users/rachellecha/Desktop/UBS/no-score/UBSdata - 2018.csv')

In [3]:
for index, row in data.iterrows():
    if math.isnan(row["poverty"]):
        data.at[index, "poverty"] = 0
    if math.isnan(row["bachelors"]):
        data.at[index, "bachelors"] = 0
    if math.isnan(row["associates"]):
        data.at[index, "associates"] = 0
    if math.isnan(row["car"]):
        data.at[index, "car"] = 0
    if math.isnan(row["diff_countyHouse"]):
        data.at[index, "diff_countyHouse"] = 0
    if math.isnan(row["diff_countyRent"]):
        data.at[index, "diff_countyRent"] = 0
    if math.isnan(row["diff_stateHouse"]):
        data.at[index, "diff_stateHouse"] = 0
    if math.isnan(row["diff_stateRent"]):
        data.at[index, "diff_stateRent"] = 0
    if math.isnan(row["health_ins"]):
        data.at[index, "health_ins"] = 0
    if math.isnan(row["population"]):
        data.at[index, "population"] = 0
    if math.isnan(row["self_income"]):
        data.at[index, "self_income"] = 0
    if math.isnan(row["house_val"]):
        data.at[index, "house_val"] = 0

In [4]:
df2 = data[data.columns.difference(['full_name', 'census_tract'])]
normalized_df=(df2-df2.mean())/df2.std()

In [5]:
for index, row in normalized_df.iterrows():
    val = (row["poverty"]*0.12)+(row["bachelors"]*0.04)+(row["associates"]*0.07)+(row["car"]*0.08)+(row["diff_countyHouse"]*0.07)+(row["diff_countyRent"]*0.02)+(row["diff_stateRent"]*0.02)+(row["diff_stateHouse"]*0.07)+(row["health_ins"]*0.1)+(row["house_val"]*0.1)+(row["population"]*0.08)+(row["self_income"]*0.05)+(row["museums"]*0.08)+(row["pharmacies"]*0.1)
    normalized_df.at[index, "score"] = val

In [6]:
normalized_df["score"]=(normalized_df["score"]-normalized_df["score"].min())/(normalized_df["score"].max()-normalized_df["score"].min())*100

In [7]:
normalized_df.head(10)

,associates,bachelors,car,diff_countyHouse,diff_countyRent,diff_stateHouse,diff_stateRent,health_ins,house_val,museums,pharmacies,population,poverty,score,self_income
0,-1.211784,-1.253158,-1.226062,-0.637187,-0.476067,-0.591463,0.118601,-1.198725,-0.945236,0.312933,-0.308789,-1.226062,0.901790,18.687354,-1.038599
1,0.709789,-0.520335,1.311203,1.009952,0.500331,-0.684851,-0.515725,1.340113,-0.540658,-0.125130,1.764868,1.311203,1.532821,49.459979,-0.371905
2,0.017033,0.875323,0.992570,-0.008897,0.048565,-0.684851,-0.515725,1.021282,0.028898,-0.709213,0.579921,0.992570,0.155624,38.921024,-0.421658
3,-0.733453,-1.115239,-0.615080,-0.722091,-0.476067,-0.684851,-0.083844,-0.587365,-1.241689,1.335079,-0.308789,-0.615080,1.083350,24.515798,-1.366971
4,2.466419,0.780633,1.719419,-0.382475,3.633549,-0.428033,-0.029859,1.748581,-0.072119,-0.417171,0.283684,1.719419,0.075914,50.673307,1.130645
5,0.289187,2.398608,1.252197,-0.246628,1.986788,-0.451380,0.388526,1.228468,1.885286,0.166912,-0.308789,1.252197,-0.756604,46.337678,0.533606
6,-0.617993,-0.946443,-0.418751,-0.722091,-0.694664,-0.684851,-0.124333,-0.663583,-0.859447,-0.125130,1.764868,-0.418751,1.225055,29.010412,-1.267464
7,-1.038595,-0.460639,-1.321545,-0.552283,-0.592652,-0.614810,0.105104,-1.294267,0.118240,-0.709213,-0.308789,-1.321545,-0.448838,15.703761,-1.148056
8,-0.857159,-1.249041,-0.914939,-0.722091,0.791793,-0.684851,0.698941,-0.988319,-1.258441,1.335079,-1.197499,-0.914939,1.120991,20.889940,-1.396823
9,-0.914889,-0.372123,-1.010422,-0.654168,-0.694664,1.696549,-0.515725,-0.982951,0.068493,-0.417171,2.653578,-1.010422,-0.887238,28.446118,-0.610721

In [8]:
print(normalized_df['score'].min(), normalized_df['score'].max())

0.0 100.0

In [9]:
normalized_df['full_name'] = pd.Series(data['full_name'])
normalized_df['census_tract'] = pd.Series(data['census_tract'])

normalized_df = normalized_df[['full_name', 'census_tract', 'associates', 'bachelors', "car", "diff_countyHouse", "diff_countyRent", "diff_stateHouse", "diff_stateRent", "health_ins", "house_val", "museums", "pharmacies", "population", "poverty", "self_income", "score"]]

In [10]:
normalized_df.head()

,full_name,census_tract,associates,bachelors,car,diff_countyHouse,diff_countyRent,diff_stateHouse,diff_stateRent,health_ins,house_val,museums,pharmacies,population,poverty,self_income,score
0,"Census Tract 1, Atlantic County, New Jersey",1.0,-1.211784,-1.253158,-1.226062,-0.637187,-0.476067,-0.591463,0.118601,-1.198725,-0.945236,0.312933,-0.308789,-1.226062,0.901790,-1.038599,18.687354
1,"Census Tract 1, Essex County, New Jersey",1.0,0.709789,-0.520335,1.311203,1.009952,0.500331,-0.684851,-0.515725,1.340113,-0.540658,-0.125130,1.764868,1.311203,1.532821,-0.371905,49.459979
2,"Census Tract 1, Hudson County, New Jersey",1.0,0.017033,0.875323,0.992570,-0.008897,0.048565,-0.684851,-0.515725,1.021282,0.028898,-0.709213,0.579921,0.992570,0.155624,-0.421658,38.921024
3,"Census Tract 1, Mercer County, New Jersey",1.0,-0.733453,-1.115239,-0.615080,-0.722091,-0.476067,-0.684851,-0.083844,-0.587365,-1.241689,1.335079,-0.308789,-0.615080,1.083350,-1.366971,24.515798
4,"Census Tract 1, Middlesex County, New Jersey",1.0,2.466419,0.780633,1.719419,-0.382475,3.633549,-0.428033,-0.029859,1.748581,-0.072119,-0.417171,0.283684,1.719419,0.075914,1.130645,50.673307

In [11]:
normalized_df.to_csv(r'/Users/rachellecha/Desktop/UBS/extreme/2018-scores.csv', index = False)