In [70]:
import pandas as pd
import numpy as np
import xgboost as xgb
from sklearn import preprocessing
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split

In [71]:
data2014 = pd.read_csv("finalized/2014-scores.csv")
data2016 = pd.read_csv("finalized/2016-scores.csv")
data2018 = pd.read_csv("finalized/2018-scores.csv")

df2018 = data2018[data2018.columns.difference(['census_tract'])]
df2016 = data2016[data2016.columns.difference(['census_tract'])]
df2014 = data2014[data2014.columns.difference(['census_tract'])]

In [72]:
df.head()

,full_name,associates,bachelors,car,diff_countyHouse,diff_countyRent,diff_stateHouse,diff_stateRent,health_ins,house_val,museums,pharmacies,population,poverty,self_income,score
0,0,-1.211784,-1.253158,-1.226062,-0.637187,-0.476067,-0.591463,0.118601,-1.198725,-0.945236,0.312933,-0.308789,-1.226062,0.901790,-1.038599,13.435532
1,1,0.709789,-0.520335,1.311203,1.009952,0.500331,-0.684851,-0.515725,1.340113,-0.540658,-0.125130,1.764868,1.311203,1.532821,-0.371905,41.527496
2,2,0.017033,0.875323,0.992570,-0.008897,0.048565,-0.684851,-0.515725,1.021282,0.028898,-0.709213,0.579921,0.992570,0.155624,-0.421658,37.072678
3,3,-0.733453,-1.115239,-0.615080,-0.722091,-0.476067,-0.684851,-0.083844,-0.587365,-1.241689,1.335079,-0.308789,-0.615080,1.083350,-1.366971,19.201547
4,4,2.466419,0.780633,1.719419,-0.382475,3.633549,-0.428033,-0.029859,1.748581,-0.072119,-0.417171,0.283684,1.719419,0.075914,1.130645,48.512330

In [73]:
le = preprocessing.LabelEncoder()
df2018['full_name'] = le.fit_transform(df2018['full_name'])
df2016['full_name'] = le.fit_transform(df2016['full_name'])
df2014['full_name'] = le.fit_transform(df2014['full_name'])

In [74]:
df2018 = df2018[['full_name', 'associates', 'bachelors', "car", "diff_countyHouse", "diff_countyRent", "diff_stateHouse", "diff_stateRent", "health_ins", "house_val", "museums", "pharmacies", "population", "poverty", "self_income", "score"]]
df2016 = df2016[['full_name', 'associates', 'bachelors', "car", "diff_countyHouse", "diff_countyRent", "diff_stateHouse", "diff_stateRent", "health_ins", "house_val", "museums", "pharmacies", "population", "poverty", "self_income", "score"]]
df2014 = df2014[['full_name', 'associates', 'bachelors', "car", "diff_countyHouse", "diff_countyRent", "diff_stateHouse", "diff_stateRent", "health_ins", "house_val", "museums", "pharmacies", "population", "poverty", "self_income", "score"]]

In [78]:
df2016.head()

,full_name,associates,bachelors,car,diff_countyHouse,diff_countyRent,diff_stateHouse,diff_stateRent,health_ins,house_val,museums,pharmacies,population,poverty,self_income,score
0,0,-1.124448,-1.184470,-1.138599,-0.619780,-0.564730,-0.558350,0.067856,-1.112696,-0.763971,0.312683,-0.308789,-1.138599,0.844990,-0.941716,15.044506
1,1,0.070396,-0.318310,1.072695,1.396378,-0.718012,-0.691798,-0.408449,1.101662,-0.529140,-0.125641,1.764868,1.072695,1.804083,-0.486864,38.986704
2,2,1.393259,0.447909,1.146762,0.013870,0.753498,-0.398213,1.169311,1.175742,-0.182118,-0.710074,0.579921,1.146762,0.481123,0.278114,41.133118
3,3,-1.312210,-0.942945,-0.654476,-0.696586,-0.334806,-0.691798,-0.155412,-0.625806,-1.297428,1.335440,-0.308789,-0.654476,0.680934,-1.262179,18.806623
4,4,2.016284,1.118351,1.993709,-0.696586,5.275326,-0.344834,0.425084,2.022835,-0.024831,-0.417858,0.283684,1.993709,0.622042,0.495202,50.833626

In [67]:
print(df2016.columns)
print(df2016.shape)

Index(['full_name', 'associates', 'bachelors', 'car', 'diff_countyHouse',
       'diff_countyRent', 'diff_stateHouse', 'diff_stateRent', 'health_ins',
       'house_val', 'museums', 'pharmacies', 'population', 'poverty',
       'self_income', 'score'],
      dtype='object')
(2006, 16)