In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
import math

In [2]:
data = pd.read_csv('UBSdata - 2012.csv')

In [3]:
for index, row in data.iterrows():
    if math.isnan(row["poverty"]):
        data.at[index, "poverty"] = 0
    if math.isnan(row["bachelors"]):
        data.at[index, "bachelors"] = 0
    if math.isnan(row["associates"]):
        data.at[index, "associates"] = 0
    if math.isnan(row["car"]):
        data.at[index, "car"] = 0
    if math.isnan(row["diff_countyHouse"]):
        data.at[index, "diff_countyHouse"] = 0
    if math.isnan(row["diff_countyRent"]):
        data.at[index, "diff_countyRent"] = 0
    if math.isnan(row["diff_stateHouse"]):
        data.at[index, "diff_stateHouse"] = 0
    if math.isnan(row["diff_stateRent"]):
        data.at[index, "diff_stateRent"] = 0
    if math.isnan(row["health_ins"]):
        data.at[index, "health_ins"] = 0
    if math.isnan(row["population"]):
        data.at[index, "population"] = 0
    if math.isnan(row["self_income"]):
        data.at[index, "self_income"] = 0
    if math.isnan(row["house_val"]):
        data.at[index, "house_val"] = 0

In [4]:
df2 = data[data.columns.difference(['full_name', 'census_tract'])]
normalized_df=(df2-df2.mean())/df2.std()

In [5]:
for index, row in normalized_df.iterrows():
    val = (row["poverty"]*0.07)+(row["bachelors"]*0.09)+(row["associates"]*0.09)+(row["car"]*0.04)+(row["diff_countyHouse"]*0.03)+(row["diff_countyRent"]*0.03)+(row["diff_stateRent"]*0.03)+(row["diff_stateHouse"]*0.03)+(row["health_ins"]*0.8)+(row["house_val"]*0.07)+(row["population"]*0.03)+(row["self_income"]*0.13)+(row["museums"]*0.05)+(row["pharmacies"]*0.08)
    normalized_df.at[index, "score"] = val

In [6]:
normalized_df["score"]=(normalized_df["score"]-normalized_df["score"].min())/(normalized_df["score"].max()-normalized_df["score"].min())*100

In [7]:
normalized_df.head(10)

,associates,bachelors,car,diff_countyHouse,diff_countyRent,diff_stateHouse,diff_stateRent,health_ins,house_val,museums,pharmacies,population,poverty,score,self_income
0,-0.260158,-1.225430,-1.022597,-0.687622,-0.634448,-0.541328,-0.343364,-0.991707,-0.732542,0.313309,-0.309224,-1.022597,0.403266,17.275658,-0.999574
1,0.124391,-0.108967,1.060296,-0.687622,-0.634448,-0.649777,-0.419980,1.091008,-0.315339,-0.125061,1.764336,1.060296,0.957412,39.317589,-0.788339
2,-0.313816,0.530603,1.251066,0.862191,-0.148289,0.353379,1.618008,1.281762,-0.169846,-0.709554,0.579444,1.251066,0.888422,44.637092,1.585548
3,-0.984541,-1.234344,-0.768979,-0.522308,-0.091093,-0.649777,-0.588535,-0.738111,-1.585602,1.336172,-0.309224,-0.768979,0.895098,18.929928,-1.210810
4,1.215437,0.925042,1.627043,-0.687622,-0.405667,-0.649777,-0.588535,1.657707,0.002382,-0.417308,0.283222,1.627043,-0.889740,46.322273,1.112783
5,0.723572,2.304464,1.205459,-0.604965,-0.634448,-0.432879,-0.588535,1.106024,2.177933,0.167185,-0.309224,1.205459,-0.716152,44.795665,1.816902
6,-0.823567,-1.069437,-0.374647,-0.542973,0.337871,-0.459991,-0.098192,-0.747009,-0.254406,-0.125061,1.764336,-0.374647,1.558292,22.522177,-0.898986
7,-0.984541,-0.614830,-1.315703,-0.315667,-0.634448,-0.649777,-0.450626,-1.284789,-0.440313,-0.709554,-0.309224,-1.315703,-0.409036,14.180605,-0.677691
8,-0.483733,-1.158576,-0.935276,-0.687622,-0.634448,-0.649777,-0.588535,-1.011172,-1.289021,1.336172,-1.197893,-0.935276,1.605027,17.224817,-0.969398
9,0.553655,-0.363013,-1.010917,-0.295002,-0.634448,-0.351542,-0.588535,-0.980028,0.148497,-0.417308,2.653004,-1.010917,-0.943152,21.217325,-0.607279

In [8]:
print(normalized_df['score'].min(), normalized_df['score'].max())

0.0 100.0

In [9]:
normalized_df['full_name'] = pd.Series(data['full_name'])
normalized_df['census_tract'] = pd.Series(data['census_tract'])

normalized_df = normalized_df[['full_name', 'census_tract', 'associates', 'bachelors', "car", "diff_countyHouse", "diff_countyRent", "diff_stateHouse", "diff_stateRent", "health_ins", "house_val", "museums", "pharmacies", "population", "poverty", "self_income", "score"]]

In [10]:
normalized_df.head()

,full_name,census_tract,associates,bachelors,car,diff_countyHouse,diff_countyRent,diff_stateHouse,diff_stateRent,health_ins,house_val,museums,pharmacies,population,poverty,self_income,score
0,"Census Tract 1, Atlantic County, New Jersey",1.0,-0.260158,-1.225430,-1.022597,-0.687622,-0.634448,-0.541328,-0.343364,-0.991707,-0.732542,0.313309,-0.309224,-1.022597,0.403266,-0.999574,17.275658
1,"Census Tract 1, Essex County, New Jersey",1.0,0.124391,-0.108967,1.060296,-0.687622,-0.634448,-0.649777,-0.419980,1.091008,-0.315339,-0.125061,1.764336,1.060296,0.957412,-0.788339,39.317589
2,"Census Tract 1, Hudson County, New Jersey",1.0,-0.313816,0.530603,1.251066,0.862191,-0.148289,0.353379,1.618008,1.281762,-0.169846,-0.709554,0.579444,1.251066,0.888422,1.585548,44.637092
3,"Census Tract 1, Mercer County, New Jersey",1.0,-0.984541,-1.234344,-0.768979,-0.522308,-0.091093,-0.649777,-0.588535,-0.738111,-1.585602,1.336172,-0.309224,-0.768979,0.895098,-1.210810,18.929928
4,"Census Tract 1, Middlesex County, New Jersey",1.0,1.215437,0.925042,1.627043,-0.687622,-0.405667,-0.649777,-0.588535,1.657707,0.002382,-0.417308,0.283222,1.627043,-0.889740,1.112783,46.322273

In [12]:
normalized_df.to_csv(r'C:\\Users\\rache\\Desktop\\UBS\\finalized\\2012-scores.csv', index = False)